.nav-link {
    position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 2px; /* Thickness of underline */
  background: white; /* Underline color matches text */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%; /* Full width on hover */
}

